
@{
    ViewBag.Title = "Index";
}

<h2> 测试新闻页面 </h2>


<div>
    <a href="/news/NewsList"> 国内新闻 </a>
    ......
</div>


<div>
    <a href="/news/NewsList"> 国际新闻 </a>
    ......
</div>


<div>
    <a href="/news/NewsList"> 财经新闻 </a>
    ......
</div>


<div>
    <a href="/news/NewsList"> 娱乐新闻 </a>
    ......
</div>

<div>
    <a href="/news/NewsList"> 体育新闻 </a>
    ......
</div>