@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>User Monitor</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>测试请求页面</h2>        
        <p><a class="btn btn-default" href="/Home/Test" target="_blank"> 测试请求页面 </a></p>
    </div>
    <div class="col-md-4">
        <h2>测试管理页面</h2>
        <p><a class="btn btn-default" href="/Home/Manager" target="_blank"> 测试管理页面 </a></p>        
    </div>
    <div class="col-md-4">
        
    </div>
</div>