
@{
    ViewBag.Title = "DocList";
}

<h2> 测试文档列表页面 </h2>

<ul>
    <li>
        <a href="/doc/DocDetail"> 文档 1. </a>
    </li>

    <li>
        <a href="/doc/DocDetail"> 文档 2. </a>
    </li>

    <li>
        <a href="/doc/DocDetail"> 文档 3. </a>
    </li>

    <li>
        <a href="/doc/DocDetail"> 文档 4. </a>
    </li>

    <li>
        <a href="/doc/DocDetail"> 文档 5. </a>
    </li>

</ul>

<div> ...... 翻页 ......</div>

