
@{
    ViewBag.Title = "Index";
}


<h2> 测试文档页面 </h2>


<div>
    <a href="/doc/DocList"> 法规文档 </a>
    ......
</div>


<div>
    <a href="/doc/DocList"> 技术文档 </a>
    ......
</div>


<div>
    <a href="/doc/DocList"> 财经文档 </a>
    ......
</div>


<div>
    <a href="/doc/DocList"> 协议文档 </a>
    ......
</div>

<div>
    <a href="/doc/DocList"> 用户文档 </a>
    ......
</div>

