<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="MyDataExpImp.Cmd.Properties.Settings.MySqlConnString"
            connectionString="Data Source=localhost;port=3306;Initial Catalog=myproject;user id=test;password=123456" />
        <add name="MyDataExpImp.Cmd.Properties.Settings.SqlConnString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MyManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyDataExpImp.Cmd.Properties.Settings.OleDbConnString"
            connectionString="根据需要，填写OleDb数据库连接字符串" />
        <add name="MyDataExpImp.Cmd.Properties.Settings.OdbcConnString"
            connectionString="根据需要，填写ODBC数据库连接字符串" />
        <add name="MyDataExpImp.Cmd.Properties.Settings.OracleConnString"
            connectionString="根据需要，填写Oracle数据库连接字符串" />
    </connectionStrings>

    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
