
@{
    ViewBag.Title = "BbsList";
}


<h2> 测试论坛列表页面 </h2>

<ul>
    <li>
        <a href="/bbs/bbsDetail"> 论坛帖子 1. </a>
    </li>

    <li>
        <a href="/bbs/bbsDetail"> 论坛帖子 2. </a>
    </li>

    <li>
        <a href="/bbs/bbsDetail"> 论坛帖子 3. </a>
    </li>

    <li>
        <a href="/bbs/bbsDetail"> 论坛帖子 4. </a>
    </li>

    <li>
        <a href="/bbs/bbsDetail"> 论坛帖子 5. </a>
    </li>

</ul>

<div> ...... 翻页 ......</div>

