
@{
    ViewBag.Title = "Index";
}

<h2> 测试论坛页面 </h2>


<div>
    <a href="/bbs/bbsList"> 国内论坛 </a>
    ......
</div>


<div>
    <a href="/bbs/bbsList"> 国际论坛 </a>
    ......
</div>


<div>
    <a href="/bbs/bbsList"> 财经论坛 </a>
    ......
</div>


<div>
    <a href="/bbs/bbsList"> 娱乐论坛 </a>
    ......
</div>

<div>
    <a href="/bbs/bbsList"> 体育论坛 </a>
    ......
</div>

