
@{
    ViewBag.Title = "TestModule3";
}

<h2>TestModule3</h2>



@section Scripts {

    @Html.Action(actionName: "Require", controllerName: "CustomAction", routeValues: new { moduleCode = "TestModule3" })

}