
@{
    ViewBag.Title = "Index";
}


<h2> 测试行情页面 </h2>


<div>
    <a href="/Market/MarketList"> 股票行情 </a>
    ......
</div>


<div>
    <a href="/Market/MarketList"> 外汇行情 </a>
    ......
</div>


<div>
    <a href="/Market/MarketList"> 贵金属行情 </a>
    ......
</div>


<div>
    <a href="/Market/MarketList"> 商品行情 </a>
    ......
</div>
