@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>菜单管理测试页面</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>菜单设计画面</h2>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "Design")'> 设计 </a></p>
    </div>

    <div class="col-md-6">
        <h2>菜单运行画面</h2>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "User")'>用户使用</a></p>
    </div>

</div>